body {
  background-color: beige;
}

.navigation {
  padding: 20px;
}

.link {
  color: black;
  text-decoration: none;
}

.active {
  color: green;
}

.link:not(:last-child) {
  margin-right: 20px;
}
